/* Général */

:root {
  background-color: #292c4e;
}

body {
  font-family: "Orbitron", sans-serif;
}

.home > h1 {
  color: #ffffff;
  font-weight: 600;
  font-size: 50px;
}

h2 {
  color: #ffffff;
}

.container {
  width: 1280px;
  margin: 0 auto;
  margin-top: 30px;
}

.logo {
  width: 150px;
  z-index: 1;
}

input {
  color: white;
}

.items-header {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
  margin: 0 auto;
}
.nav {
  padding: 10px;
  color: white;
  text-decoration: none;
}
.search-container {
  display: flex;
  align-items: center;
  height: 100px;
}
.search-input {
  width: 400px;
  height: 50px;
  border-radius: 40px;
  border: 1px solid rgb(99, 99, 99);
  padding-left: 20px;
  background-color: #292c4e;
  font-family: "Orbitron", sans-serif;
}

::placeholder {
  color: #ffffff;
}

/* Home */
.home {
  display: flex;
  align-items: center;
  background-color: rgba(37, 37, 37, 0.317);
  height: 40vh;
  margin-top: 100px;
}
.banner {
  height: 700px;
  object-fit: cover;
  margin-top: 20px;
  z-index: 0;
}

/* Cards comics and characters */

.flex-card {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.card {
  flex: calc(20% - 1rem);
  /* border: 1px solid rgba(99, 99, 99, 0.525); */
  border-radius: 20px;
  height: 300px;
  cursor: pointer;

  text-decoration: none;
  transition: all 0.2s;
}

.card:hover {
  transform: scale(1.03);
}

.card-infos {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #040d3c; */
  background-color: #a81003;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-infos > h2 {
  padding: 10px;
}
.img-card {
  height: 80%;
}

.img-card > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

/* Page individual profile */

.profile-card {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.profile-card img {
  width: 400px;
  border-radius: 20px;
}
.profile-card h2 {
  font-size: 50px;
}

.name-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 2;
}

.description {
  color: white;
  margin-top: 20px;
}

.character-comic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1280px;
  flex-wrap: wrap;
  border: solid 1px pink;
  margin-top: 20px;
}

.divider {
  margin-top: 20px;
  margin-bottom: 20px;
  background: #d40317;
  display: block;
  height: 1px;
  width: 100%;
}

.test {
  width: 20%;
  display: flex;
}

.comic-list-title {
  font-size: 30px;
  margin-top: 100px;
}

.favorites-button {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  border-radius: 40px;
  background-color: #d40317;
  text-align: center;
  border: none;
  font-family: "Orbitron", sans-serif;
  color: #ffffff;
}
